@import url('https://fonts.googleapis.com/css?family=Open+Sans');

ul li {
    list-style: none;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
}

/*body {*/
    /*margin: 0 !important;*/
/*}*/

.sidebar {
    width: 320px;
    float: left;
}

.main {
    width: 704px;
    float: left;
}

.head-logo-area {
    height: 118px;
}

.head-logo-area img {
    width: 100%;
    height: inherit;
}

.header {
    background: #BDC3C7;
    padding-left: 40px;
    padding-top: 38px;
    /*padding-bottom: 18px;*/
}

.header .title {
    font-family: "Open Sans";
    font-size: 34px;
    color: #ffffff;
    font-weight: 100;
}

.header .info-line {
    font-family: Arial;
    font-size: 14px;
    color: #666666;
    padding-bottom: 18px;
}

.date-area {
    background: #ffffff;
    font-family: Verdana;
    font-size: 15px;
    color: #219297;
    padding: 4px 20px;
}

.step-area {
    padding: 0 20px;
}

.step-area .step {
    font-family: "Open Sans";
    font-size: 22px;
    color: #ffffff;
    padding: 21px 20px;
    background: #999999;
    margin: 15px auto;
    line-height: 1;
    position: relative;
}

.step-area .step.active {
    background: #219297;
}

.active-arrow {
    position: absolute;
    right: -19px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 32px 0 32px 20px;
    border-color: transparent transparent transparent #219297;
}

.successs-area {
    margin-bottom: 36px;
}

.footer-logo-area img {
    width: 322px;
}

.footer-logo-area {
    position: absolute;
    bottom: 0;
}

.content {
    padding-left: 20px;
    background: #F4F4F4;
    height: 634px;
    font-family: Arial;
    font-size: 16px;
    color: #666666;
}

.passed {
    float: right;
}

.info-holder {
    display: inline-block;
    width: 695px;
    margin-top: 16px;
    background: #ffffff;
    position: relative;
}

.person-info-holder {
    float: left;
    margin: 1px 0;
}

.person-info-holder ul li {
    margin-bottom: 10px;
    padding: 3px;
}

.person-info-holder ul li:last-child {
    margin-bottom: 0px;
}

.person-info {
    float: left;
    margin-top: 5px;
}

.profile-picture {
    float: left;
    height: 108px;
}

.left {
    float: left !important;
}

.clear {
    clear: both;
}

.content-patient {
    background: #F4F4F4;
    height: 650px;
    font-family: Arial;
    font-size: 14px;
    color: #666666;
}

.address-info {
    margin-left: 20px;
    margin-top: 10px;
}

.address-info .icon {
    padding-top: 10px;
}
.edit-btn {
    width: 70px;
    height: 48px;
    position: absolute;
    right:0;
    top:25%;
}
.btn {
    font-family: Arial;
    font-size:14px;
    color: #ffffff;
    background: #2199E8;
    border:none;
}
.complete-btn {
    width:300px;
    height: 48px;
    position: absolute;
    bottom:30px;
    right:202px;
}
.content-title {
    font-family: "Open Sans";
    font-size: 28px;
    color: #27AE60;
    margin-top: 20px;
    margin-left: 20px;
}
.co-pay-info {
    background: #ffffff;
    height:480px;
    border-left:8px solid #27AE60;
    position: relative;
}
.patient-info-holder {
    border-left:8px solid #2199E8;
}
.content-data {
    margin-left:20px;
    margin-top:50px;
}
.payment-image {
    position: absolute;
    bottom:0;
    right:0;
}
.header-icon-area {
    position: absolute;
    right:140px;
    color: white;
}
.add-pharmacy-btn {
    width:70px;
    height: 48px;
    background: #27AE60;
    position: absolute;
    right:0;
}
.content-pharmacy {
    padding-top: 42px;
    background: #F4F4F4;
    height: 608px;
    font-family: Arial;
    font-size: 16px;
    color: #666666;
    position: relative;
}
.content-pharmacy  > ul > li {
    border-left: 5px solid #E74C3C;
    background: #ffffff;
    height: 64px;
    position: relative;

}
.content-pharmacy  ul li.search-holder {
    background: #ffffff;
    margin-bottom: 15px;
    position: relative;
}
.pharmacy-logo-holder {
    padding-left:20px;
}
.pharmacy-logo-holder img{
    height:55px;
    padding-top: 5px;
}
.pharmacy-info-holder > div{
    padding-left: 30px;
    padding-top:10px;
}
.pharmacy-info-holder  i{
    margin-right:10px;
}
.pharmacy-info-holder.last {
    margin-top:15px;
}
.person-address-info {
    margin-top:-10px;
}
.pharmacy-info-btn {
    width:70px;
    height: 48px;
    background: #E74C3C;
    position: absolute;
    right:0;
    top:7px;
}
.pharmacy-search-select {
    width:70px;
    height: 48px;
    background: #2199E8;
    position: absolute;
    right:0;
    top:7px;
}
.pharmacy-search-yes {
    width:70px;
    height: 48px;
    background: #27AE60;
    position: absolute;
    right:0;
    top:7px;
}
.search-holder >ul {
    margin-bottom: 10px;
}
.search-holder {
    border-left: 8px solid #2199E8 !important;
}
.yes {
    border-left: 8px solid #27AE60 !important;
}
.pharmacy-completion {
    width: 304px;
    height: 48px;
    background: #2199E8;
    position: absolute;
    bottom:10px;
    right:210px;
}
.btn-search-toggle {
    width:70px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    top:-1px;
    background: #969a9b;
    position: absolute;
    right:0;
}

