.co-pay-sum{
  /*border: 1px solid red;*/
  border-left: 8px solid #27AE60;
  width: 696px;
  height: 110px;
  margin-bottom: 16px;
  background: #ffffff;
}
.co-pay-method{
  border: 1px solid red;
  width: 334px;
  height: 110px;
  margin-top: 16px;
  float: left;
  margin-right: 12px;
  border: 5px solid #27AE60;
  background: #ffffff;
}
.co-pay-sum-text-conteiner{
  width: 25%;
  height: 100%;
  float: left;
}
.co-pay-description{
  width: 85px;
  font-size: 24px;
  font-family: 'Open sans Regular', 'Open sans';
  color: #666666;
  margin-left: 25px;
  margin-top: 15px;
}
.co-pay-sum-text{
  width: 38%;
  height: 100%;
  float: left;
  position: relative;
}
.co-pay-input{
  text-align: right;
  position: absolute;
  padding-right: 5px;
  right: 20px;
  top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  width: 175px;
  height: 48px;
  font-size: 30px;
  background: #F4F4F4;
  color: #999999;
  font-family: 'Open sans';
}
.input-special{
  border: 1px dotted !important;
  color: #00529C !important;
}
.co-pay-sum-text-description{
  width: 35%;
  height: 100%;
  float: left;
}
.co-pay-question{
  position: absolute;
  top: 40px;
  color: #FF8000;
  font-size: 12px;
}
.co-pay-method-description{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
  width: 30%;
  height: 80px;
  float: left;
  font-size: 20px;
  font-family: 'Arial Italic';
  text-align: center;
  color: #27AE60;
}
.co-pay-method-image{
  width: 56%;
  height: 110px;
  border: 1px solid blue;
  float: left;
}

.copay-credit-card-button {
    /*background: url('/images/card.png');*/
    border: 6px solid #ccc;
    width: 327px;
    height: 110px;
    float: left;
  background: #ffffff;
}


.copay-front-button {
    /*background: url('/images/front.png');*/
    border: 6px solid #ccc;
    width: 327px;
    height: 110px;
    float: right;
  background: #ffffff;
}
.copay-img-holder {
  width:133px;
  height:85px;
}
.copay-img-holder img{
  width:100%;
  height:80px;
}
.copay-credit-card-button.card, .copay-front-button.front {
  border-color: #27AE60!important;
}
.card  {
  background: #FFFFFF;
  font-size:20px;
  color: #27AE60 !important;
  font-family:"Arial Italic";
}
.card-text {
  width: 110px;
  margin: 10px 22px;
  font-size: 20px;
  color: #666666;
  font-family: "Arial Italic";
}
.front {
  background: #FFFFFF;
  font-size: 20px;
  color: #666666;
  font-family: "Arial Italic";
}
.payment-buttons {
  margin-top: 20px;
}
.copay-info-container {
    height: 455px;
    background: #fff;
    border-left: 6px solid #27AE60;
    padding-top: 10px;
}
.copay-controls-buttons {
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}
.billing-edit-button {
  text-align: right;
  padding-right: 0px;
}
.billing-address{
  padding-right: 0px;
  margin-top: 96px;
}
.billing-img {
  position: absolute;
  bottom:190px;
  right: 15px;
}
.cred {
  background:#B6BCC1 !important;
}

.co-pay-info {
  padding-left: 10px;
  padding-top: 20px;
  height:480px;
  position: relative;
  background: #ffffff;
  border-left: 8px solid #e74c3c;
}
.co-pay-info .content-title {
   font-size:24px;
   color: #666666;
   font-family:Arial;
 }
.co-pay-info .content-data {
  font-size:16px;
  color: #666666;
  font-family:Arial;
  line-height: 1;
}
.payment-image {
  position: absolute;
  bottom: 20px;
  right:20px;
}
.content-title-confirm {
  color: #e74c3c !important;
}
.content-data-confirm {
  font-size: 15px ;
}
.complete-btn {
  width:300px;
  position: absolute;
  right:202px;
  background: #298ED2;
  color: #ffffff;
  font-size:16px;
  bottom:30px;
}
.content-patient {
  background: #F0F0F0;
  padding-top: 16px;
  height: 100%;
  overflow-x: scroll;
  position: relative;
}
