.content form label {
     height:48px;
     display: table-cell;
     vertical-align: bottom;
 }
.content form input{
    height:26px;
    width: 302px;
    font-family: Arial;
    font-size: 14px;
    border: 0.1px solid #CCCCCC;
    color: #BDC3C7;
    padding:10px;
    line-height: 1;
}
.content form button {
    margin-top: 48px;
    height:48px;
    width: 322px;
    font-family: Arial;
    font-size: 16px;
    color: #ffffff;
    background: #298ED2;
    padding:10px;
    line-height: 1;
    border: none;
}
.content form input:active,
.content form input:focus {
    border: 0.1px solid #298ED2;
    color: #298ED2;
}
.login{
    margin-top: 73px;
    height:48px;
    width: 322px;
    font-family: Arial;
    font-size: 16px;
    color: #ffffff;
    background: #298ED2;
    padding:10px;
    line-height: 1;
    border: none;
}
.submit-input-wrapper{
    text-align: center;
}