.patient-info {
  width: 100%;
  list-style: none;
  height: 110px;
  padding: 0;
}

ul.patient-info li {
  float: left;
}

.patient-profile-image {
  height: 110px;
  width: 110px;
}

.patient-profile-image img {
  height: 100%;
}

.info-item {
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

.info-patient-fullname {
  width: 295px;
  padding-left: 6px;
}

.info-patient-address {
  width: 221px;
  position: relative;
}

.info-patient-address i {
  position: absolute;
  top: 20px;
}

.info-patient-address p {
  padding-left: 21px;
}

.info-edit-button {
  padding-top: 27px;
}

.info-edit-button .btn ,
.billing-edit-button .btn{
  width:70px;
}

.patient-edit-button {
  width: 140px;
  margin-top: 83px;
}

.gender-button {
  width: 151px;
  padding: 15px;
  text-align: center !important;
  color: #fff !important;
  background: #ccc;
}

.gender-input:checked + label {
  background: #0094D4;
}

.gender-group {
  height: 73px;
}

.border-left-none {
  border-left: none;
  box-shadow: none;
}

.border-right-none {
  border-right: none;
  box-shadow: none;
}

.selectwrap {
  position: relative;
  float: left;
}
.selectwrap .date{
  width:151px;
}
.selectwrap .states{
  width:151px;
}
.selectwrap .phone{
  width:151px;
}
.selectwrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-arrow {
  position: absolute;
  right:10px;
  top:15px;
}

.numberwrap {
  width:151px;
  margin-left:20px;
}
.number-code {
  width:45%;
}
.numberwrap .number {
  width:55%;
}
.error-tooltip {
  width:65%;
  background: #E74C3C;
  top:-15px !important;
}
.error-tooltip .tooltip-inner{
  width:65%;
  background: #E74C3C;
  top:-15px !important;
}
.error-tooltip .tooltip-arrow {
  right:50% !important;
  bottom: -5px !important;
  border-top-color: #E74C3C;
}
