.pharmacy-controls {
	margin-top: 150px;
}
.pharmacy-list {
	width: 100%;
	list-style: none;
	padding:0;
}
.pharmacy-list li {
	clear: both;
}
.search-pharmacy-button {
	background: #ff8000;
    color: #fff;
    border: none;
}
.pharmacy-list{
	height: 520px;
  padding-top:16px;
	overflow-x:scroll;
}
.pharmacy-list-item  {
	float: left;
	background: #fff;
	padding-top: 4px;
	height: 64px;

}

.pharmacy-list-container {
	margin-bottom: 15px;
}
.pharmacy-list-item:first-child {
	 border-left: 8px solid #2F8FD7;
}

.pharmacy-list-item.logo img{
	height: 56px;
}

.pharmacy-list-item.logo {
	width: 15%;
	padding-left: 20px;
}

.pharmacy-list-item.name {
	width: 25%;
	padding-top: 15px;
	padding-left: 12px;
}
.pharmacy-list-item.address {
	width: 30%;
	padding-top: 15px;
	padding-left: 12px;
}
.pharmacy-list-item.miles {
	width: 15%;
	padding-top: 15px;
	padding-left: 12px;
}
.pharmacy-list-item.buttons {
	width: 15%;
	padding-top: 10px;
}
.pharmacy-list-item.buttons button{
  width:70px;
  padding:5px;
}
.pharmacy-name-input {
  width: 425px;
  margin-left:20px;
}
.pharmacy-zip-input {
  width:239px;
}
.pharmacy-zip-input .input-group input {
  width:150px;
}
.pharmacy-zip-input .input-group span {
  width:89px;
}
.pharmacy-selection {
   position: relative;
 }
.pharmacy-selection button{
  position: absolute;
  bottom: 15px;
  margin:0 auto;
}

.confirmation {
  background: #999999;
  height:64px;
  width:85%;
}
.confimation-btn-left {
  background: #ffffff;
  width: 70px;
  height:48px;
  margin:8px;
}
.confimation-btn-right {
  background: #E74C3C;
  width: 70px;
  height:48px;
  margin:8px 0;
}
.confirmation .message {
  width:70%;
  padding: 20px;
}
