.welcome {
  background-image: url('/images/welcome-bg.jpg');
  width: 100%;
  height: 768px;
  background-repeat: no-repeat;
}

.welcome-title {
  margin-top: 168px;
}

.welcome-title p {
  background: #fff;
  width: 403px;
  font-size: 35px;
  float: right;
  height: 54px;
  text-align: center;
  padding: 2px;
  color: #2199E8;
}

.btn-checkin {
  margin-top: 100px;
  border-radius: 10px!important;
  background-color: #102f88!important;
  color: #ffffff;
  font-size: 21px!important;
  font-family: "Open Sans";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  width: 350px;
}

.welcome-logo {
  width: 215px;
  padding-left: 15px;
}

.welcome-address {
  width: 305px;
}

.welcome-contact {
  width: 297px;
}

.welcome-logo img {
  padding-left: 15px;
  padding-top: 7px;
}

.welcome-info {
  height: 200px;
}

.welcome-name {
  font-size: 18px; padding: 40px;
}

.welcome-speciality {
  font-size: 18px;
}

.footer-logo {
  padding-top: 48px;
  padding-left: 21px;
}


