<div>
  <div ng-include="'views/layout/sidebar.html'"></div>

  <div ng-if="currentStep === 0" ng-include="'views/pages/patient/components/login.html'"></div>
  <div ng-if="currentStep === 1" ng-include="'views/pages/patient/components/profile.html'"></div>
  <div ng-if="currentStep === 2" ng-include="'views/pages/patient/components/pharmacy.html'"></div>
  <div ng-if="currentStep === 3" ng-include="'views/pages/patient/components/co-pay.html'"></div>
  <div ng-if="currentStep === 4" ng-include="'views/pages/patient/components/finished.html'"></div>
</div>
