<div>
  <div ng-include="'views/layout/sidebar.html'"></div>

  <div ng-include="'views/layout/sidebar.html'"></div>

  <div class="main">
    <div class="header">
      <span class="title">Patient Check-In</span>
      <i class="header-icon-area fa fa-4x fa-sign-out"></i>
      <div class="info-line">Let's start. Simply Follow the instructions shown below</div>
      </span>
    </div>
    <div class="content">
      <form class="col-md-6">
        <fieldset>
          <div class="form-group">
            <label class="control-label" for="username">Last Name</label>
            <input class="form-control" id="username" ng-model="user.username" placeholder="family name" type="text">
          </div>
          <div class="form-group has-feedback">
            <label class="control-label">Username</label>
            <input type="text" class="form-control" placeholder="Username" />
            <i class="form-control-feedback fa fa-user"></i>
          </div>
          <div class="form-group">
            <label class="control-label" for="password">Password</label>
            <input class="form-control" id="password" ng-model="user.password" placeholder="mm / dd/ yyyy" type="text">
          </div>
          <input class="btn btn-lg btn-wrs-primary btn-block btn-login" type="submit" value="Login">
        </fieldset>
      </form>
    </div>
  </div>
</div>
