<div class="container">
  <div class="row">
    <div class="login-box">
      <div class="logo">
        <img src="images/logo.png">
      </div>
      <div class="clearfix"></div>
      <div class="panel panel-default panel-login">
        <div class="panel-heading heading-green">
          <h3 class="panel-title title-white">Practice Log in</h3>
        </div>
        <div class="panel-body">
          <form novalidate ng-submit="login(user)" name="practice_login" novalidate>
            <fieldset>
              <div class="form-group" show-errors>
                <label class="control-label" for="username">Username</label>
                <input class="form-control" id="username" ng-model="user.username" placeholder="enter your username" type="text" required>
              </div>
              <div class="form-group" show-errors>
                <label class="control-label" for="password">Password</label>
                <input class="form-control" id="password" ng-model="user.password" placeholder="enter your password" type="password" required>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="user.remember">
                  <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  <span class="remember-me">Remember Me</span>
                </label>
              </div>
              <input class="btn btn-lg btn-primary btn-block btn-login" type="submit" value="Login"
                     ng-disabled="practice_login.$invalid" disabled="disabled">
            </fieldset>
          </form>
        </div>
      </div>
      <p class="login-footer-text">© 2016 WRS Health. All rights reserved. Subject to <a href="#">Terms & Conditions</a></p>
    </div>
  </div>
</div>
