<div class="welcome">
  <table>
    <tr>
      <td class="welcome-logo">
        <img src="images/logo_ent_white.png" alt="">
      </td>
      <td class="welcome-address">2004 Route 17M Goshen, NY 10924-5210</td>
      <td class="welcome-contact">Phone (845) 123-4568 | Fax (359) 155-4456</td>
    </tr>

    <tr class="welcome-info">
      <td></td>
      <td class="welcome-name">Lawrence Gordon, MD</td>
      <td class="welcome-speciality text-center">Head and Neck Surgery <br>Ear Nose and Throat <br>Specialists</td>
    </tr>
  </table>

  <div class="welcome-title">
    <p class="pull-right">Welcome</p>
  </div>

  <div class="clearfix"></div>

  <div class="text-center">
    <button ui-sref="patient" class="btn btn-checkin">Patient Check-In</button>
  </div>

  <div class="footer-logo">
    <img src="images/logo.png" alt="">
  </div>

</div>
