<div class="sidebar">
    <div class="sidebar-practice-logo">
        <img src="{{practice_info.logo}}" alt="">
        <p class="sidebar-practice-fullname">{{practice_info.name}}</p>
        <hr class="sidebar-devider">
    </div>
    <div class="sidebar-dates">
        <span>Date {{today.date}}</span>
        <span>Time {{today.time}}</span>
    </div>
    <div class="sidebar-steps">
        <div class="step" ng-class="{'active': step.active}" ng-repeat="step in steps">
            {{step.title}}
            <span ng-if="step.passed" class="passed">&#x2713;</span>
            <span class="passed" ng-if="!step.passed" ng-class="{'active-arrow': step.active}"></span>
        </div>
    </div>
    <div class="sidebar-progressbar">
        <div class="progress-indicator">
            <div class="progress-complete" ng-style="{'width': (currentStep)*20 + 5 +'%'}"></div>
        </div>
        <div ng-style="{'left': (currentStep)*20 + '%'}" class="percent">{{(currentStep)*20}}% <span ng-show="isWorking" class="pull-right is-working"> Working - please wait</span></div>

    </div>
    <div class="sidebar-footer-logo">
        <p>Powered by</p>
        <img src="images/logo.png" alt="">
    </div>
</div>
