<div class="main" >
  <patient-header title="Co-Pay"
                  info="You will recieve a emailed confirmation reciept after your payment has been made"
                  image="">
  </patient-header>

  <div class="content-patient content-confirmation">
      <div class="info-holder co-pay-info">
          <div class="content-title content-title-confirm">&#x2713; Confirming your payment transaction</div>
          <br><br>
          <div class="content-data content-data-confirm">
            <div>This Message confirms you payment of <b>$58.00</b></div>
                <br>
                <div>Your account balance will be uploaded once the payment is processed. <br>
                  It can take up to five days to wthdraw the funds from your account.
                </div>
                <br>
                <div>Your confirmation number is <b>258FEC4890</b></div>
                <br>
                <div>A receipt has been sent to <b>patient@email.com</b> for your reference.</div>
                <br>
                <div>Thank you for your payment.</div>
                <br>
            </div>
          <img class="payment-image" src="images/transfirst.png" alt="">
      </div>
      <button ng-click="nextStep()" class="btn complete-btn ">Next</button>
  </div>
</div>
