<div class="main" ng-if="!cardMethodActive && !successPayment">
  <patient-header title="Co-Pay"
                  info="You will recieve a emailed confirmation reciept after your payment has been made"
  >
  </patient-header>

  <div class="content-no-padding">
    <div class="co-pay-sum">
      <div class="co-pay-sum-text-conteiner">
        <div class="co-pay-description" style="">Today Co-Pay</div>
      </div>
      <div class="co-pay-sum-text">
        <input type="text" class="co-pay-input" real-time-currency disabled
               readonly ng-model="patient.insurance.ins_co_pay" value="${{patient.insurance.ins_co_pay || 0}}" real-time-currency>
      </div>
      <div class="co-pay-sum-text-description">

      </div>
    </div>
    <div class="co-pay-sum">
      <div class="co-pay-sum-text-conteiner">
        <div class="co-pay-description" style=" margin-top: 5px;">Prevoice Patient Response</div>
      </div>
      <div class="co-pay-sum-text">
        <input type="text" class="co-pay-input input-special" ng-change="updateTotal()" real-time-currency
               ng-model="patient.totalOwedSum.owed_sum" >

      </div>
      <div class="co-pay-sum-text" style="width: 35%;">
        <span class="co-pay-question">Can't pay in full? Please pay some</span>
      </div>
    </div>
    <div class="co-pay-sum">
      <div class="co-pay-sum-text" style="width: 25%;">
        <div class="co-pay-description" style="width: 110px; margin-top: 18px;"><span
          style="display: block;">Total</span><span>Due Now</span></div>
      </div>
      <div class="co-pay-sum-text" style="width: 38%;">
        <input type="text" class="co-pay-input" disabled readonly ng-model="patient.total" real-time-currency>
      </div>
      <div class="co-pay-sum-text" style="width: 35%;">
      </div>
    </div>

    <div class="payment-buttons">
      <button class="copay-credit-card-button" ng-class="[paymentMethod]" ng-click="setPaymentMethod('card')">
        <div class="pull-left card-text" ng-class="[paymentMethod]">
          Pay By Credit Card
        </div>
        <div class="pull-right copay-img-holder">
          <img src="images/cards.png" alt="">
        </div>
      </button>
      <button class="copay-front-button" ng-class="[paymentMethod]" ng-click="setPaymentMethod('front')">
        <div class="pull-left card-text" ng-class="[paymentMethod]">
          Pay at Front Desc
        </div>
        <div class="pull-right copay-img-holder">
          <img src="images/cash.png" alt="">
        </div>
      </button>
      </button>

    </div>

    <div class="">
      <button ng-click="backStep()" class="left_btn">Back</button>
      <button ng-click="doPayment()" ng-disabled="!paymentMethod" disabled="disabled" class="right_btn">Next</button>
    </div>

  </div>
</div>

<div class="main" ng-if="cardMethodActive && !successPayment">

  <patient-header title="Co-Pay"
                  info="You will recieve a emailed confirmation reciept after your payment has been made"
                  image="images/u134.png">

  </patient-header>
  <div class="content-no-padding">
    <div ng-if="!editBillingAddress" class="copay-info-container">
      <div class="patient-login-box col-md-6">
        <fieldset>
          <form ng-submit="makePayment()" name="paymentForm">
            <div class="col-md-12 no-padding selectwrap">
              <i class="glyphicon glyphicon-menu-down state-arrow"></i>
              <label class="control-label">What amount would you like to pay?</label>
              <select class="form-control" ng-model="patient.pay_amount">
                <option value="">50$</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
              <label class="control-label">Name on Card</label>
              <input type="text" ng-model="patient.credit_card.ccname" class="form-control" required/>
            </div>
            <div class="form-group">
              <label class="control-label">Card Number</label>
              <input type="text" ng-model="patient.credit_card.ccnumber" class="form-control" required/>
            </div>
            <div class="form-group col-md-12 no-padding">
              <div class="pull-left no-padding selectwrap">
                <i class="glyphicon glyphicon-menu-down state-arrow"></i>
                <label class="control-label">Expiration Date</label>
                <select ng-model="patient.credit_card.ccmonth" class="form-control date" required>
                  <option value="">Month</option>
                  <option value="k"
                          ng-repeat="(k,v) in ['00','01','02','03','04','05','06','07','08','09','10','11','12']">{{v}}
                  </option>
                </select>
              </div>
              <div class="pull-right no-padding selectwrap">
                <i class="glyphicon glyphicon-menu-down state-arrow"></i>
                <label class="control-label">
                  MM/YYYY
                  <i class="form-control-feedback fa fa-calendar"></i>
                </label>
                <select ng-model="patient.credit_card.ccyear" class="form-control date" required>
                  <option value="">Year</option>
                  <option value="k" ng-repeat="k in [2016,2017,2018,2019,2020]">{{k}}</option>
                </select>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="patient.credit_card.store">
                  <span class="cred cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                  <span class="remember-me">Store credit card info for future transactions</span>
                </label>
              </div>
            </div>
          </form>
        </fieldset>
      </div>
      <div class="patient-login-box col-md-6 billing-address">
        <div class="col-md-6 no-padding" ng-show="patient.pay_amount=='other'" >
          <input type="text" class="form-control text-center custom-billing-amount" value="" ng-model="patient.pay_amount_other" real-time-currency placeholder="Enter Amount" >
        </div>
        <div class="col-md-6 no-padding" style="visibility: hidden;">
          <input type="text" class="form-control text-center custom-billing-amount" value="" ng-model="patient.pay_amount_other" real-time-currency placeholder="Enter Amount" >
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6" ng-show>
          <label class="control-label">Billing Address</label>
          4416 Shinn Street
          New York, NY 10022
        </div>
        <div class="col-md-6">
          <label class="control-label">Billing Address</label>
          4416 Shinn Street
          New York, NY 10022
        </div>
        <div class="col-md-6 billing-edit-button">
          <button ng-click="changeBillingAddress()" class="btn btn-warning">EDIT</button>
        </div>
      </div>
      <div class="text-right billing-img">
        <img src="images/transfirst.png">
      </div>
    </div>

    <div ng-if="editBillingAddress" class="copay-info-container">
      <div class="patient-login-box col-md-6">
        <fieldset>
          <div class="form-group">
            <label class="control-label">Address</label>
            <input ng-model="patient.credit_card.street1" type="text" class="form-control"
                   placeholder="Enter billing Address"/>
          </div>
          <div class="form-group">
            <label class="control-label">Address</label>
            <input ng-model="patient.credit_card.street2" type="text" class="form-control"
                   placeholder="building, Suite or APT #"/>
          </div>
          <div class="form-group">
            <label class="control-label">City</label>
            <input ng-model="patient.credit_card.city" type="text" class="form-control" placeholder="Enter city"/>
          </div>
          <div class="form-group">
            <div class="no-padding selectwrap pull-left">
              <label class="control-label">State</label>
              <i class="glyphicon glyphicon-menu-down state-arrow"></i>
              <select ng-model="patient.credit_card.state" type="text" class="form-control states">
                <option value="">Select</option>
                <option value="k" ng-repeat="(k,v) in states">{{v.name}}</option>
              </select>
            </div>
            <div class="no-padding selectwrap pull-right">
              <label class="control-label">Zip Code</label>
              <input ng-model="patient.credit_card.zip" type="text" placeholder="Enter zip code" class="form-control states"/>
            </div>
          </div>

        </fieldset>
      </div>
      <div class="patient-login-box col-md-6 billing-address">
        <div class="col-md-12 billing-edit-button">
          <button ng-click="changeBillingAddress()" class="btn btn-warning btn-edit">Done</button>
        </div>
      </div>
      <div class="text-right billing-img">
        <img src="images/transfirst.png">
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="copay-controls-buttons">
      <button ng-click="cancelPayment()" class="left_btn">Cancel</button>
      <button ng-click="makePayment()" ng-disabled="paymentForm.$isValid" class="right_btn" disabled="disabled">Make Payment
      </button>
    </div>
  </div>

  <div class="main" ng-if="successPayment">

    <patient-header title="Co-Pay"
                    info="You will recieve a emailed confirmation reciept after your payment has been made"
    >

    </patient-header>

    <div class="content-patient">
      <div class="info-holder co-pay-info">
        <div class="content-title">&#x2713; Confirming your payment transaction</div>
        <div class="content-data">
          <div>This Message confirms you payment of <b>$58.00</b></div>
          <br>
          <div>Your account balance will be uploaded once the payment is processed. <br>
            It can take up to five days to wthdraw the funds from your account.
          </div>
          <br>
          <div>Your confirmation number is <b>258FEC4890</b></div>
          <br>
          <div>A receipt has been sent to <b>patient@email.com</b> for your reference.</div>
          <br>
          <div>Thank you for your payment.</div>
          <br>
        </div>
        <img class="payment-image" src="assets/images/transfirst.png" alt="">
      </div>
      <button ng-click="nextStep()" class="btn complete-btn">Next</button>
    </div>
  </div>
