<div class="main" ng-if="!cardMethodActive && !successPayment">
  <patient-header title="Co-Pay"
                    info="You will recieve a emailed confirmation reciept after your payment has been made"
                  >
    </patient-header>
 
  <div class="content-no-padding">
    <div class="co-pay-sum">
      <div class="co-pay-sum-text-conteiner">
        <div class="co-pay-description" style="">Today Co-Pay</div>
      </div>
      <div class="co-pay-sum-text">
        <input type="text" class="co-pay-input" disabled readonly value="${{patient.insurance.ins_co_pay || 0}}">
      </div>
      <div class="co-pay-sum-text-description">

      </div>
    </div>
    <div class="co-pay-sum">
      <div class="co-pay-sum-text-conteiner">
        <div class="co-pay-description" style=" margin-top: 5px;">Prevoice Patient Response</div>
      </div>
      <div class="co-pay-sum-text">
        <input type="text" class="co-pay-input input-special" value="${{patient.totalOwedSum.owed_sum}}">
      </div>
      <div class="co-pay-sum-text" style="width: 35%;">
        <span class="co-pay-question">Can't pay in full? Please pay some</span>
      </div>
    </div>
    <div class="co-pay-sum">
      <div class="co-pay-sum-text" style="width: 25%;">
        <div class="co-pay-description" style="width: 110px; margin-top: 18px;"><span style="display: block;">Total</span><span>Due Now</span></div>
      </div>
      <div class="co-pay-sum-text" style="width: 38%;">
        <input type="text" class="co-pay-input"  disabled readonly value="{{patient.insurance.ins_co_pay + patient.insurance.ins_co_pay}}">
      </div>
      <div class="co-pay-sum-text" style="width: 35%;">
      </div>
    </div>

    <div class="payment-buttons">
       <button class="copay-credit-card-button" ng-class="[paymentMethod]" ng-click="setPaymentMethod('card')"></button>
        <button class="copay-front-button"      ng-class="[paymentMethod]" ng-click="setPaymentMethod('front')"></button>

    </div>
   
    <div class="">
          <button ng-click="backStep()" class="left_btn">Back</button>
          <button ng-click="doPayment()" ng-disabled="!paymentMethod" class="right_btn">Next</button>
    </div> 
  
  </div>
</div>

<div class="main" ng-if="cardMethodActive && !successPayment">

   <patient-header title="Co-Pay"
                    info="You will recieve a emailed confirmation reciept after your payment has been made"
                  >

    </patient-header>
  <div class="content-no-padding">
    <div ng-if="!editBillingAddress"  class="copay-info-container">
      <div class="patient-login-box col-md-6">
        <fieldset>
          <div class="form-group">
            <label class="control-label">What amount would you like to pay?</label>
            <select class="form-control">
              <option value="">50$</option>
              <option value="">Other</option>
              </select>
          </div>
          <div class="form-group">
            <label class="control-label">Name on Card</label>
            <input type="text" ng-model="patient.credit_card.ccname" class="form-control"  />
          </div>
          <div class="form-group">
            <label class="control-label">Card Number</label>
            <input type="text" ng-model="patient.credit_card.ccnumber" class="form-control"  />
          </div>
          <div class="form-group">
            <label class="control-label">Expiration Date</label>
            <select ng-model="patient.credit_card.ccmonth">
              <option>05</option>
              <option>06</option>
              <option>07</option>
            </select>
             <select ng-model="patient.credit_card.ccyear">
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
            </select>
          </div>
          <div class="form-group">
             <input type="checkbox" ng-model="patient.credit_card.store" class=""  />
            Store credit card info for future transactions
          </div>
        </fieldset>
      </div>
      <div class="patient-login-box col-md-6 billing-address">
          <div class="col-md-6">
             <label class="control-label">Billing Address</label>
            4416 Shinn Street
            New York, NY 10022
          </div>
          <div class="col-md-6 billing-edit-button">
             <button ng-click="changeBillingAddress()" class="btn btn-warning">EDIT</button>
          </div>
        </div>
        <div class="text-right billing-img">
           <img src="/images/transfirst.png">
        </div>     
    </div>

     <div ng-if="editBillingAddress" class="copay-info-container">
      <div class="patient-login-box col-md-6">
        <fieldset>
          <div class="form-group">
            <label class="control-label">Address</label>
            <input ng-model="patient.credit_card.street1" type="text" class="form-control"  />
          </div>
          <div class="form-group">
            <label class="control-label">Address</label>
            <input ng-model="patient.credit_card.street2" type="text" class="form-control"  />
          </div>
          <div class="form-group">
            <label class="control-label">City</label>
            <input ng-model="patient.credit_card.city" type="text" class="form-control"  />
          </div>
          <div class="form-group">
            <label class="control-label">State</label>
            <input ng-model="patient.credit_card.state" type="text" class="form-control"  />
            <label class="control-label">Zip Code</label>
            <input ng-model="patient.credit_card.zip" type="text" class="form-control"  />
          </div>
         
        </fieldset>
      </div>
      <div class="patient-login-box col-md-6 billing-address">
          <div class="col-md-12 billing-edit-button">
             <button ng-click="changeBillingAddress()" class="btn btn-warning">Done</button>
          </div>
        </div>
        <div class="text-right billing-img">
           <img src="/images/transfirst.png">
        </div>     
    </div>

  <div class="clearfix"></div>
  
  <div class="copay-controls-buttons">
     <button ng-click="cancelPayment()" class="btn btn-default pull-left">Cancel</button>
    <button ng-click="makePayment()" class="btn btn-primary pull-right">Make Payment</button>
  </div> 
</div>

<div class="main" ng-if="successPayment">

   <patient-header title="Co-Pay"
                    info="You will recieve a emailed confirmation reciept after your payment has been made"
                  >

    </patient-header>

  <div class="content-patient">
    <div class="info-holder co-pay-info">
      <div class="content-title">&#x2713; Confirming your payment transaction</div>
      <div class="content-data">
        <div>This Message confirms you payment of <b>$58.00</b></div>
        <br>
        <div>Your account balance will be uploaded once the payment is processed. <br>
          It can take up to five days to wthdraw the funds from your account.
        </div>
        <br>
        <div>Your confirmation number is <b>258FEC4890</b></div>
        <br>
        <div>A receipt has been sent to <b>patient@email.com</b> for your reference.</div>
        <br>
        <div>Thank you for your payment.</div>
        <br>
      </div>
      <img class="payment-image" src="assets/images/transfirst.png" alt="">
    </div>
    <button ng-click="nextStep()" class="btn complete-btn">Next</button>
  </div>
</div>
