<div class="main" >
  <patient-header title="Co-Pay"
                  info="You will recieve a emailed confirmation reciept after your payment has been made"
                  image="">
  </patient-header>

  <div class="content-patient">
    <div class="info-holder co-pay-info">
      <div class="content-title">Credit Card Processing ...</div>
      <div style="width: 48%;padding: 20px 0;">
        <hr>
      </div>
      <div class="content-data">
        <div>We are processing your credit card. Please be</div>
        <br>
        <div>patient, this process may take a few seconds
        </div>
      </div>
      <img class="payment-image" src="images/transfirst.png" alt="">
    </div>
  </div>
</div>
