<div class="main">
  <patient-header title="Co-Pay"
                  info="You will recieve a emailed confirmation reciept after your payment has been made"
                  image="">
  </patient-header>

  <div class="content-no-padding">
      <div class="co-pay-sum">
          <div class="co-pay-sum-text-conteiner">
            <div class="co-pay-description" style="">Today Co-Pay</div>
          </div>
          <div class="co-pay-sum-text">
            <input type="text" class="co-pay-input" disabled readonly value="${{patient.insurance.ins_co_pay == '' ? 0 : patient.insurance.ins_co_pay}}">
          </div>
          <div class="co-pay-sum-text-description"></div>
      </div>

      <div class="co-pay-sum">
          <div class="co-pay-sum-text-conteiner">
              <div class="co-pay-description" style=" margin-top: 5px;">Prevoice Patient Response</div>
          </div>
          <div class="co-pay-sum-text">
            <input type="text" class="co-pay-input input-special" ng-change="updateTotal()" real-time-currency ng-model="patient.totalOwedSum.owed_sum">
          </div>
          <div class="co-pay-sum-text" style="width: 35%;">
              <span class="co-pay-question">Can't pay in full? Please pay some</span>
          </div>
      </div>

      <div class="co-pay-sum">
        <div class="co-pay-sum-text" style="width: 25%;">
           <div class="co-pay-description" style="width: 110px; margin-top: 18px;"><span style="display: block;">Total</span><span>Due Now</span></div>
        </div>
        <div class="co-pay-sum-text" style="width: 38%;">
           <input type="text" class="co-pay-input" disabled readonly ng-model="patient.total" real-time-currency>
        </div>
        <div class="co-pay-sum-text" style="width: 35%;"></div>
      </div>

      <div class="payment-buttons">
        <button class="copay-credit-card-button" ng-class="[paymentMethod]" ng-click="setPaymentMethod('card')">
            <div class="pull-left card-text" ng-class="[paymentMethod]">
              Pay By Credit Card
            </div>
            <div class="pull-right copay-img-holder">
              <img src="images/cards.png" alt="">
            </div>
        </button>
        <button class="copay-front-button" ng-class="[paymentMethod]" ng-click="setPaymentMethod('front')">
            <div class="pull-left card-text" ng-class="[paymentMethod]">
              Pay at Front Desc
            </div>
            <div class="pull-right copay-img-holder">
              <img src="images/cash.png" alt="">
            </div>
        </button>
      </div>
      <div class="">
          <button ng-click="backStep()" class="left_btn">Back</button>
          <button ng-click="doPayment()" ng-disabled="!paymentMethod" disabled="disabled" class="right_btn">Next</button>
      </div>
  </div>
</div>
