<div class="main">
   <patient-header title="Finished"
                  info="You are all set. thank you for Checking-In."
                >

  </patient-header>
  <div class="content-no-padding">
    <div class="finished-info-container">
      <h3>
           Your nurse will take you to exam room momentarily
      </h3>

    </div>

    <div class="finished-info-container">
      <div class="question">
        <b>How did you like our self-service Check-In?</b>
      </div>
      <div class="likes">
        <ul>
          <li class="like first">
            <div class="likes-icon">
              <img src="images/happy.png">
            </div>
            <div class="likes-text" ng-class="patient.feedback=='awesome' ? 'has-feedback-finished' : ''" ng-click="setFeedBack('awesome')">
              Awesome!
            </div>
          </li>
          <li class="like second">
            <div class="likes-icon">
              <img src="images/smiling.png">
            </div>
            <div class="likes-text" ng-class="patient.feedback=='alright' ? 'has-feedback-finished' : ''" ng-click="setFeedBack('alright')">
              Alright.</div>
          </li>
          <li class="like third">
            <div class="likes-icon">
              <img src="images/sad.png">
            </div>
            <div class="likes-text" ng-class="patient.feedback=='dontKnow' ? 'has-feedback-finished' : ''" ng-click="setFeedBack('dontKnow')">
              Don't know.
            </div>
          </li>
          <li class="like fourth">
            <div class="likes-icon">
              <img src="images/not%20form%20me.png">
            </div>
            <div class="likes-text" ng-class="patient.feedback=='notForMe' ? 'has-feedback-finished' : ''" ng-click="setFeedBack('notForMe')">
              Not for me.
            </div>
          </li>
        </ul>
      </div>

      <div style=" padding-left: 60px;" class="doc-photo">
        <img src="images/bjishk.png">
      </div>
    </div>

    <div class="submit-input-wrapper">
      <button ng-click="finished()" class="btn btn-primary btn-centered-bottom" >Submit</button>
    </div>
  </div>
</div>
