<div class="main" ng-if="patient.pharmacies.length == 0 && !searchPharmacyView">
  <table class="header">
    <tr>
      <td class="header-title">
        <h2>Pharmacy</h2>
        <p class="header-info">If you have more than one pharmacy, you can prioritize your list by dragging</p>
      </td>
      <td class="center">
        <i class="header-icons fa fa-4x fa-sign-out"></i>
      </td>
      <td class="text-right header-image">
        <button ng-click="searchPharmacy()" class="btn btn-primary">Add</button>
      </td>
    </tr>
  </table>

  <div class="content">
    <div class="add_pharmacy">
      <img class="pharmacy-arrow" src="images/u38.png">
      <span class="text_add_pharmacy">
                Please add a pharmacy
            </span>
    </div>
    <div class="add_pharmacy_if_empty">
            <span class="text_add_pharmacy_if_empty">
                <p>Looks like you don't have</p>
                <p>pharmacy for your prescription</p>
            </span>
    </div>
    <div class="pharmacy-controls">
      <button ng-click="backStep()" class="left_btn">Back</button>
      <button ng-click="nextStep()" ng-disabled="patient.pharmacies == 0 " class="btn right_btn" disabled="disabled">
        Next
      </button>
    </div>
  </div>
</div>


<div class="main" ng-if="patient.pharmacies.length > 0 && !searchPharmacyView">
  <table class="header">
    <tr>
      <td class="header-title">
        <h2>Pharmacy</h2>
        <p class="header-info">If you have more than one pharmacy, you can prioritize your list by dragging</p>
      </td>
      <td class="center">
        <i class="header-icons fa fa-4x fa-sign-out"></i>
      </td>
      <td class="text-right header-image">
        <button ng-click="searchPharmacy()" class="btn btn-primary">Add</button>
      </td>
    </tr>
  </table>
  <div class="content-no-padding pharmacy-content">
    <div data-as-sortable="board.dragControlListeners" data-ng-model="patient.pharmacies" class="pharmacy-list">
      <div class="pharmacy-list-container" data-ng-repeat="pharmacy in patient.pharmacies" data-as-sortable-item>
        <div ng-show="!pharmacy.removeBoxOpened" data-as-sortable-item-handle>
          <div class="pharmacy-list-item logo">
            <img src="images/u209.png" alt="">
          </div>
          <div class="pharmacy-list-item name">
            <i class="fa fa-flag" aria-hidden="true"></i>{{pharmacy.name}}
            <br>
            <i class="fa fa-phone" aria-hidden="true"></i>{{pharmacy.area}} {{pharmacy.prefix}} {{pharmacy.phone}}
          </div>
          <div class="pharmacy-list-item address">
            <i class="fa fa-map-marker "></i>
            {{pharmacy.street1}}
            {{pharmacy.city}} {{pharmacy.state}} {{pharmacy.zip}}
          </div>
          <div class="pharmacy-list-item miles">
            <i class="fa fa-home fa-2x"></i>
            0.3 miles
          </div>
          <div class="pharmacy-list-item buttons text-right">
            <button ng-click="openConfirmation(pharmacy)" class="btn btn-danger">Delete</button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div ng-show="pharmacy.removeBoxOpened">
          <div class="pharmacy-list-item logo pull-left">
            <img src="images/u209.png" alt="">
          </div>
          <div class="confirmation pull-left">
            <div class="buttons pull-left">
              <button ng-click="closeConfirmation(pharmacy)" class="btn confimation-btn-left">No</button>
            </div>
            <div class="message pull-left text-center">
              Do you want to delete this pharmacy?
            </div>
            <div class="buttons pull-right">
              <button ng-click="deletePharmacy(pharmacy)" class="btn confimation-btn-right">Yes</button>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="">
      <button ng-click="backStep()" class="left_btn">Back</button>
      <button ng-click="nextStep()" class="right_btn">Next</button>
    </div>
  </div>

</div>
<div class="main" ng-if="searchPharmacyView">

  <patient-header title="Pharmacy"
                  info="If you have more than one pharmacy, you can prioritize your list by dragging">
  </patient-header>

  <div class="content-no-padding">
    <!-- <button class="btn btn-search-toggle"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></button> -->
    <fieldset>
      <div class="pharmacy-name-input pull-left">
        <div class="form-group">
          <label class="control-label" for="pharmacy_name">Pharmacy Name</label>
          <input class="form-control" id="pharmacy_name" ng-model="pharmacy.name" placeholder="Pharmacy name" type="text">
        </div>
      </div>

      <div class="pharmacy-zip-input pull-right">
        <div class="form-group">
          <label class="control-label" for="pharmacy_zipcode">Zip Code</label>
          <div class="input-group">
            <input class="form-control" id="pharmacy_zipcode" ng-model="pharmacy.zipcode" placeholder="Zip Code" type="text">
            <span class="input-group-addon search-pharmacy-button" ng-click="doSearchPharmacy(pharmacy)"
                  id="basic-addon2">Search</span>
          </div>

        </div>
      </div>
    </fieldset>


    <div class="pharmacy-list">
      <div class="pharmacy-list-container" ng-repeat="pharmacy in pharmacies">
        <div class="pharmacy-list-item logo">
          <img src="images/u209.png" alt="">
        </div>
        <div class="pharmacy-list-item name">
          <i class="fa fa-flag" aria-hidden="true"></i>{{pharmacy.name}}
          <br>
          <i class="fa fa-phone" aria-hidden="true"></i>{{pharmacy.area}} {{pharmacy.prefix}} {{pharmacy.phone}}
        </div>
        <div class="pharmacy-list-item address">
          <i class="fa fa-map-marker "></i>
          {{pharmacy.street1}}
          {{pharmacy.city}} {{pharmacy.state}} {{pharmacy.zip}}
        </div>
        <div class="pharmacy-list-item miles">
          <i class="fa fa-home fa-2x"></i>
          0.3 miles
        </div>
        <div class="pharmacy-list-item buttons text-right">
          <button ng-click="selectPharmacy(pharmacy)"
                  ng-class="{'btn-primary':!pharmacy.selected, 'btn-danger':pharmacy.selected}" class="btn">
            {{!pharmacy.selected ? 'Select' : 'Yes' }}
          </button>

        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="pharmacy-selection">
      <button ng-click="selectPharmacies()" class="btn btn-primary btn-centered-fixed-bottom">Pharmacy selection
        completed
      </button>
    </div>
  </div>

</div>

