<div class="main">
  <div class="header">
    <span class="title">Pharmacy</span>
    <i class="header-icon-area fa fa-3x fa-sign-out"></i>
    <button class="btn add-pharmacy-btn">Add</button>
    <div class="info-line">If you have more than one pharmacy, you can prioritize your list by dragging</div>
    </span>
  </div>
  <div class="content content-pharmacy" style="padding: 0;">
    <div class="add_pharmacy">
      <div><img class="row" src="/images/u38.png"></div>
                <span class="text_add_pharmacy">
                    Please add a pharmacy
                </span>
    </div>
    <div class="add_pharmacy_if_empty">
                <span class="text_add_pharmacy_if_empty">
                    <p>Looks like you don't have</p>
                    <p>pharmacy for your prescription</p>
                </span>
    </div>
    <div class="pharmacy_back_next">
      <button class="left_btn">Back</button>
      <button class="right_btn">Next</button>
    </div>
  </div>
</div>
</div>
