<div class="main" ng-if="patient.pharmacies.length == 0 && !searchPharmacyView">
  <div class="header">
    <span class="title">Pharmacy</span>
    <i class="header-icon-area fa fa-3x fa-sign-out"></i>
    <button ng-click="searchPharmacy()" class="btn add-pharmacy-btn">Add</button>
    <div class="info-line">If you have more than one pharmacy, you can prioritize your list by dragging</div>
    </span>
  </div>
  <div class="content content-pharmacy" style="padding: 0;">
    <div class="add_pharmacy">
      <img class="pharmacy-arrow" src="/images/u38.png">
                <span class="text_add_pharmacy">
                    Please add a pharmacy
                </span>
    </div>
    <div class="add_pharmacy_if_empty">
                <span class="text_add_pharmacy_if_empty">
                    <p>Looks like you don't have</p>
                    <p>pharmacy for your prescription</p>
                </span>
    </div>
    <div class="pharmacy_back_next">
      <button ng-click="backStep()" class="left_btn">Back</button>
      <button ng-click="nextStep()" class="right_btn">Next</button>
    </div>
  </div>
</div>


<div class="main" ng-if="patient.pharmacies.length > 0 && !searchPharmacyView">
    <div class="header">
        <span class="title">Pharmacy</span>
        <i class="header-icon-area fa fa-3x fa-sign-out"></i>
        <button class="btn add-pharmacy-btn">Add</button>
        <div class="info-line">If you have more than one pharmacy, you can prioritize your list by dragging</div>
        </span>
    </div>
    <div class="content-pharmacy">
        <ul>
            <li class="left">
                <div class="pharmacy-logo-holder">
                    <img src="/images/u209.png" alt="">
                </div>
            </li>
            <li class="left">
                <div class="pharmacy-info-holder left">
                    <div><i class="fa fa-flag" aria-hidden="true"></i> RITE AID Pharmacy</div>
                    <div><i class="fa fa-phone" aria-hidden="true"></i> 212 555 2222</div>
                </div>
            </li>
            <li class="left">
                <div class="pharmacy-info-holder">
                    <div><i class="fa fa-bars" aria-hidden="true"></i> 212 555 742</div>
                    <div>
                        <div class="left icon"><i class="fa fa-map-marker "></i></div>
                        <div class="left person-address-info">  4416 Shinn Street<br>
                            New York, NY 10022
                        </div>
                    </div>
                </div>
            </li>
            <li class="left">
                <div class="pharmacy-info-holder last clear">
                    <span class="left icon"><i class="fa fa-home fa-2x"></i></span>
                    <span class="left person-info">  0.3 miles</span>
                </div>
            </li>
            <button class="btn pharmacy-info-btn">Delete</button>
        </ul>

        <div class="">
            <button ng-click="backStep()" class="left_btn">Back</button>
            <button ng-click="nextStep()" class="right_btn">Next</button>
        </div>
    </div>
</div>

<div class="main" ng-if="searchPharmacyView">
    <div class="main">
        <div class="header">
            <span class="title">Pharmacy</span>
            <i class="header-icon-area fa fa-3x fa-sign-out"></i>
            <button class="btn add-pharmacy-btn">Add</button>
            <div class="info-line">If you have more than one pharmacy, you can prioritize your list by dragging</div>
            </span>
        </div>
        <div class="content-pharmacy">
            <button class="btn btn-search-toggle"><i class="fa fa-angle-down fa-2x" aria-hidden="true"></i></button>
            <div class="search_group" style="">
                <form method="" action="#">

                    <input type="text" class="big_input search_big" style="">
                    <input type="text" class="big_input search_small" style="">
                    <!--<input type="text" class="big_input search_small" style="position: absolute; top: 42px; left: 500px; width: 150px;">-->
                    <button class="btn_search" style="">Search</button>


                </form>
            </div>
            <ul>
                <li class="search-holder">
                    <ul>
                        <li class="left">
                            <div class="pharmacy-logo-holder">
                                <img src="/images/u209.png" alt="">
                            </div>
                        </li>
                        <li class="left">
                            <div class="pharmacy-info-holder left">
                                <div><i class="fa fa-flag" aria-hidden="true"></i> RITE AID Pharmacy</div>
                                <div><i class="fa fa-phone" aria-hidden="true"></i> 212 555 2222</div>
                            </div>
                        </li>
                        <li class="left">
                            <div class="pharmacy-info-holder">
                                <div><i class="fa fa-bars" aria-hidden="true"></i> 212 555 742</div>
                                <div>
                                    <div class="left icon"><i class="fa fa-map-marker "></i></div>
                                    <div class="left person-address-info">  4416 Shinn Street<br>
                                        New York, NY 10022
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="left">
                            <div class="pharmacy-info-holder last clear">
                                <span class="left icon"><i class="fa fa-home fa-2x"></i></span>
                                <span class="left person-info">  0.3 miles</span>
                            </div>
                        </li>
                        <button class="btn pharmacy-search-select">Select</button>
                    </ul>
                </li>
            </ul>

            <div class="">
                <button ng-click="searchPharmacy()" class="btn pharmacy-completion">Pharmacy selection completed</button>
            </div>
        </div>
    </div>
</div>

