<div class="main" ng-if="!patientEditMode">
  <patient-header title="Patient Check-In"
                  info="Complete and confirm the account(s) information below">
  </patient-header>

  <div class="clearfix"></div>

  <div class="content-no-padding">
    <div class="info-container">
      <ul class="patient-info">
        <li class="patient-profile-image"><img src="images/profile.png" alt=""></li>
        <li class="info-patient-fullname">
          <p class="info-item">
            <i class="fa fa-user fa-2x"></i>
            <span>{{patient.personal_info.last_name}} {{patient.personal_info.first_name}} | {{patient.dateOfBirth | dateToAge}} Yrs</span>
          </p>
          <p class="info-item">
            <i class="fa fa-envelope fa-2x"></i>
            <span>{{patient.personal_info.email}}</span>
          </p>
          <p class="info-item">
            <i class="fa fa-phone fa-2x"></i>
            <span>{{patient.phoneNumbers.area}} {{patient.phoneNumbers.phone}}</span>
          </p>
        </li>
        <li class="info-patient-address">
          <i class="fa fa-home fa-2x"></i>
          <p class="info-item home-icon"> {{patient.address.street1}}
            <br>
            {{patient.address.city}} {{patient.address.state}} {{patient.address.zip}}

          </p>

        </li>
        <li class="info-edit-button">
          <button ng-click="changePatientViewType(patientEditMode)" class="btn btn-primary">Edit</button>
        </li>
      </ul>
    </div>
    <button ng-click="nextStep()" class="btn btn-primary btn-centered-bottom">Patient Profile Completed</button>
  </div>
</div>

<div class="main" ng-if="patientEditMode">
  <patient-header title="Patient Check-In"
                  info="Let's start. Simply Follow the instructions shown below"
                  image="images/profile.png">
  </patient-header>

  <div class="clearfix"></div>

  <div class="content">
    <div class="col-md-6 col-md-right">
      <fieldset>
        <div class="form-group" ng-class="patient_temp.personal_info.first_name == '' ? 'has-error' : ''">
          <label class="control-label" for="first_name">Name</label>
          <input class="form-control" id="first_name" ng-model="patient_temp.personal_info.first_name" type="text" ng-change="checkEmpty()"
                 uib-tooltip="Error here hello worlds"
                 tooltip-enable="patient_temp.personal_info.first_name == ''"
                 tooltip-is-open="patient_temp.personal_info.first_name == ''"
                 tooltip-placement="top-right"
                 tooltip-class="error-tooltip"
                 >
        </div>
        <div class="form-group has-feedback">
          <label class="control-label">Date of Birth</label>
          <input type="text"
                 class="form-control"
                 ng-click="dobOptions.open()"
                 type="text"
                 class="form-control"
                 uib-datepicker-popup="MM/dd/yyyy"
                 ng-model="patient_temp.personal_info.date_of_birth"
                 is-open="dobOptions.opened"
                 show-button-bar="false"
                 datepicker-options="dobOptions"
                 placeholder="Date of birth"
                 ui-mask-placeholder="mm/dd/yyyy"
                 ui-mask="99/99/9999"
                 model-view-value="true"
                 required/>
          <i class="dob-icon form-control-feedback fa fa-calendar"></i>
        </div>
        <div class="form-group" ng-class="patient_temp.personal_info.email == '' ? 'has-error' : ''">
          <tooltip tooltips="" tooltip-template="Left tooltip" tooltip-side="top"
                   ng-show="patient_temp.personal_info.first_name == ''"></tooltip>
          <label class="control-label" for="email">Email</label>
          <input class="form-control" id="email" ng-model="patient_temp.personal_info.email" type="text">
        </div>
        <div class="form-group" ng-class="patient_temp.address.street1 == '' ? 'has-error' : ''">
          <label class="control-label" for="address">Address</label>
          <input class="form-control" id="address" ng-model="patient_temp.address.street1" type="text">
        </div>
        <div class="form-group">
          <div class="col-md-12 no-padding selectwrap">
            <label class="control-label">State</label>
            <i class="glyphicon glyphicon-menu-down state-arrow"></i>
            <select ng-model="patient_temp.address.state" class="form-control">
              <option ng-selected="{{patient_temp.address.state == option.id}}" ng-repeat="option in states"
                      value="{{option.id}}">{{option.name}}
              </option>
            </select>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="col-md-6 col-md-left">
      <fieldset>
        <div class="form-group" ng-class="patient_temp.personal_info.last_name == '' ? 'has-error' : ''">
          <label class="control-label">&nbsp;</label>
          <input class="form-control" id="last_name" ng-model="patient_temp.personal_info.last_name" type="text">
        </div>
        <div class="form-group gender-group">
          <label class="control-label">Gender</label>
          <div class="clearfix"></div>
          <input type="radio" class="gender-input hidden" id="male" name="sex" ng-model="patient_temp.personal_info.sex"
                 value="male">
          <label for="male" class="btn  pull-left gender-button">Male</label>
          <input type="radio" class="gender-input hidden" id="female" name="sex"
                 ng-model="patient_temp.personal_info.sex" value="female">
          <label for="female" class="btn  pull-right gender-button">Female</label>
        </div>

        <div class="form-group no-padding">

          <label class="control-label">Phone Number</label><br>
          <div class="selectwrap pull-left">
            <i class="glyphicon glyphicon-menu-down select-arrow"></i>
            <select class="form-control phone" ng-model="patient_temp.phoneNumbers.type">
              <option value="home">Home</option>
              <option value="cell">Cell</option>
              <option value="fax">Fax</option>
              <option value="night-time">Night Time</option>
              <option value="other">Other</option>
              <option value="work">Work</option>
            </select>
          </div>
          <div class="numberwrap no-padding pull-left">
            <input class="form-control pull-left number-code border-right-none"
                   ng-model="patient_temp.phoneNumbers.area" type="text">
            <input class="form-control pull-right number border-left-none" ng-model="patient_temp.phoneNumbers.phone"
                   type="text">
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group" ng-class="patient_temp.address.city == '' ? 'has-error' : ''">
          <label class="control-label" for="city">City</label>
          <input class="form-control " id="city" ng-model="patient_temp.address.city" type="text">
        </div>
        <div class="form-group" ng-class="patient_temp.address.zip == '' ? 'has-error' : ''">
          <label class="control-label" for="zip">Zip Code</label>
          <input class="form-control" id="zip" ng-model="patient_temp.address.zip" type="text">
        </div>
      </fieldset>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-12">
      <button ng-click="changePatientViewType(patientEditMode)" class="btn btn-default pull-left patient-edit-button">
        Cancel
      </button>
      <button ng-click="confirmPatientChanges(patient_temp)" class="btn btn-success pull-right patient-edit-button">
        Confirm
      </button>
    </div>
  </div>
</div>
