<div class="main">
  <div class="header">
    <span class="title">Patient Check-In</span>
    <i class="header-icon-area fa fa-4x fa-sign-out"></i>
    <div class="info-line">Let's start. Simply Follow the instructions shown below</div>
    </span>
  </div>
  <div class="content-patient">
    <div class="info-holder patient-info-holder">
      <div class="profile-picture">
        <img src="/images/person.png" alt="">
      </div>
      <div class="person-info-holder">
        <ul class="left">
          <li class="left">
            <span class="left person-info"><i class="fa fa-user"></i>  John Smith | 53 Yrs</span>
            <div class="clear"></div>
          </li>
          <li class="clear">
            <span class="left person-info"><i class="fa fa-phone"></i>  212 55 789</span>
            <div class="clear"></div>
          </li>
          <li>
            <span class="left person-info"><i class="fa fa-envelope"></i>  john.smith@gmail.com</span>
            <div class="clear"></div>
          </li>
        </ul>
        <ul class="left">
          <li class="left address-info">
            <span class="left icon"><i class="fa fa-home fa-2x"></i></span>
                            <span class="left person-info">  4416 Shinn Street<br>
                            <span class="left person-info">  New York, NY 10022</span></span>
            <div class="clear"></div>
          </li>
        </ul>
      </div>
      <button class="btn edit-btn">Edit</button>
    </div>
    <button class="btn complete-btn">Patient Profile Completed</button>
  </div>
</div>
